@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="form" id="form">
    <tr>
        <td class="form-label">
            <sup>*</sup>旧密码：
        </td>
        <td class="form-editor">
            <input id="oldPassword" name="oldPassword" type="password" class="easyui-validatebox" data-options="required:true,validType:{length:[8,20]}" />
        </td>
    </tr>
    <tr>
        <td class="form-label"><sup>*</sup>新密码：</td>
        <td class="form-editor">
            <input id="newPassword" name="newPassword" type="password" class="easyui-validatebox" data-options="required:true,validType:['length[8,20]','code']" />
        </td>
    </tr>
    <tr>
        <td class="form-label"><sup>*</sup>确认密码：</td>
        <td class="form-editor">
            <input id="confirmPassword" name="confirmPassword" type="password" class="easyui-validatebox" data-options="required:true,validType:['length[8,20]','code']" />
        </td>
    </tr>
</table>



<script type="text/javascript">
    function save(callBack) {
        var isValid = $("#form").form('validate');
        if (!isValid) {
            erp.showError("请检查输入！");
            return;
        }
        var oldPwd = $('#oldPassword').val();
        var newPwd = $('#newPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        if (newPwd != confirmPassword) {
            erp.showError("新密码和确认密码不一致！");
            return;
        }
        $.messager.confirm("修改密码", "确认修改吗？", function (r) {
            if (r === false) {
                return;
            }

            erp.wait("正在提交数据...");
            callBack.call(this, true);
            //$.post('/Account/Account/ChangePasswordSave', { 'oldPassword': oldPwd, 'newPassword': newPwd }, function (json) {
            //    erp.wait(null);
            //    if (!json) { erp.showError("由于网络或服务器太忙，提交失败，请重试！"); return; }
            //    if (json.Success == false) {
            //        erp.showError(json.Message);
            //        return;
            //    };
            //    erp.showInfo(json.Message);
            //    if ($.isFunction(callBack)) {
            //        $.post('/Account/Auth/Logout/', function () {
            //            callBack.call(this, true);
            //        });
            //    }
            //});

        });
    }
</script>